#Core ML & Computer Vision
ultralytics
opencv-python
torch
torchvision

#Data Handling & Numerics
pandas==2.2.3
numpy
scipy

#Plotting & Visualization
matplotlib
seaborn

#Object Tracking
deep-sort-realtime

#Analysis & Metrics
motmetrics
scikit-learn

#Utilities
tqdm

#Annotation (for data preparation)
labelme
pillow

